<a [routerLink]="['/materials']">Go Back</a>
<br>
<h2 class="page-header">{{material.name}}</h2>
<p>{{material.description}}</p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 *ngIf="material.altNames"> Alternative Names </h3>
    <ul *ngIf="material.altNames" class="list-group">
      <li *ngFor="let name of material.altNames" class="list-group-item">
        {{name}}
      </li>
    </ul>
    <h3 *ngIf="material.environmental.endOfLifeTreatment"> End of Life </h3>
    <p> {{material.environmental.endOfLifeTreatment}}</p>
    <h3 *ngIf="material.environmental.postConsumerRecycledContent"> Post Consumer Recycled Content </h3>
    <p> {{material.environmental.postConsumerRecycledContent}}</p>
    <h3 *ngIf="material.components"> Hazards </h3>
    <ul *ngIf="material.components" class="list-group">
      <li *ngFor="let component of material.components" class="list-group-item">
        {{component.name}}
        <ul *ngIf="component.hazards" class="list-group">
          <div *ngIf="component.hazards.orange">
            <li *ngFor="let hazard of component.hazards.orange" class="list-group-item">
              <div class="sphere orange"></div>
              {{hazard.name}}
            </li>
          </div>
          <div *ngIf="component.hazards.red">
            <li *ngFor="let hazard of component.hazards.red" class="list-group-item">
              <div class="sphere red"></div>
              {{hazard.name}}
            </li>
          </div>
        </ul>
      </li>
    </ul>
  </div>
  <!-- <a class="btn btn-default" href="#">Edit</a>
  <a class="btn btn-danger" href="#">Delete</a> -->
</div>
